{%load static%}
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="{% url 'index' %}" style="display: block;">
        <img src="{% static 'img/logo-blue.svg' %}" class="navbar-brand-img" alt="...">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            {{ request.path }}
            
            {% if request.get_full_path == '/dashboard/' %}
            <a class="nav-link active" href="{% url 'index' %}">
            {% else %}
              <a class="nav-link" href="{% url 'index' %}">
            {% endif %}
              <i class="fas fa-home"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            {% if request.get_full_path == '/dashboard/meus-envios' %}
            <a class="nav-link active" href="{% url 'meus-envios' %}">
            {% else %}
              <a class="nav-link" href="{% url 'meus-envios' %}">
            {% endif %}
              <i class="ni ni-satisfied"></i>
              <span class="nav-link-text">Meus envios</span>
            </a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'meus-envios' %}">
              <i class="ni ni-send"></i>
              <span class="nav-link-text">Submeter Certificado</span>
            </a>
          </li> 
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Suporte</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <i class="ni ni-spaceship"></i>
              <span class="nav-link-text">Universidade de Vassouras</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <i class="ni ni-palette"></i>
              <span class="nav-link-text">Links úteis</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- end Sidenav -->