{% for m in messages %}
    <div class="pulse alert alert-{{ m.extra_tags }}">
        <strong>{{ m }}</strong>
    </div>
{% endfor %}

<form method="POST" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form_add_atividade_complementar.as_p }}
    <button type="submit" class="btn btn-primary"><i class="ni ni-send mr-2"></i> Enviar!</button>
</form>

<div class="card-body">
    <form>
      <h6 class="heading-small text-muted mb-4">Informações </h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label" for="usuario">Usuário</label>
              <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Username" value="{{user}}" disabled>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label" for="descricao">Descrição</label>
              <input type="text" name="descricao" id="descricao" class="form-control" placeholder="Ex: Curso de Informática básica" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="id_categoria">Categoria</label>
              <select class="form-control" id="id_categoria" required>
                {%for category in form.categoria %}
                    {{category}}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="id_categoria">Empresa/Instituição</label>
              <input type="text" name="empresa" id="empresa" class="form-control" placeholder="Nome da Empresa" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-control-label" for="carga_horaria_informada">Carga horária</label>
              <input type="number" id="carga_horaria_informada" name="carga_horaria_informada" class="form-control" placeholder="Número de horas">
              <input type="hidden" id="carga_horaria_integralizada" name="carga_horaria_integralizada" class="form-control" value="{{form.carga_horaria_integralizada.value}}" disabled>
            </div>
          </div>
          <div class="col-lg-9">
            <label class="form-control-label" for="carga_horaria_informada">Certificado</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="certificado" name="certificado" lang="en">
              <label class="custom-file-label" for="certificado"></label>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4">
      <!-- Address -->
      <h6 class="heading-small text-muted mb-4">Contact information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label" for="input-address">Address</label>
              <input id="input-address" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-city">City</label>
              <input type="text" id="input-city" class="form-control" placeholder="City" value="New York">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-country">Country</label>
              <input type="text" id="input-country" class="form-control" placeholder="Country" value="United States">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-country">Postal code</label>
              <input type="number" id="input-postal-code" class="form-control" placeholder="Postal code">
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4">
      <!-- Description -->
      <h6 class="heading-small text-muted mb-4">About me</h6>
      <div class="pl-lg-4">
        <div class="form-group">
          <label class="form-control-label">About Me</label>
          <textarea rows="4" class="form-control" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
        </div>
      </div>
    </form>
  </div>
{% if messages %}
{% endif %}