<style>
.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: 'Escolha sua foto de perfil';
}
.sbtr {
    margin-top: 2rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: .875rem;
    font-weight: 600;
    color: #525f7f;
}

input {
    font-size: .875rem;
    height: calc(1.5em + 1.25rem + 5px);
    transition: all .15s ease-in-out;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: .625rem .75rem;
    transition: all .15s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 2px rgb(233 236 239 / 5%);
}
input:focus {
    color: #8898aa;
    border-color: #5e72e4;
    outline: 0;
    background-color: #fff;
    box-shadow: 0 3px 9px rgb(50 50 9 / 0%), 3px 4px 8px rgb(94 114 228 / 10%);
}
.errorlist {
    color: #fff;
    border-color: #f75676;
    background-color: #f75676;
    font-size: .875rem;
    list-style: none;
    color: #fff;
    border-color: #f75676;
    background-color: #f75676;
    font-size: .875rem;
    list-style: none;
    padding: 0.4rem 1rem;
    border-radius: 4px;
}
.errorlist li:after {
    content: ' 😢'
}

</style>
{% if messages %}
  {% for m in messages %}
      <div class="pulse alert alert-{{ m.extra_tags }}" style="margin-bottom: 3rem;">
          <strong>{{ m }}</strong>
      </div>
  {% endfor %}
{% endif %}
<form method="POST" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-danger"><i class="ni ni-lock-circle-open mr-2"></i> Alterar senha!</button>
</form>

<!--
<form method="POST" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="id_password1">Senha</label>
            <input class="form-control"  type="password" name="password1" autocomplete="new-password" autofocus="" required="" id="id_password1">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="id_password2">Repita a senha</label>
            <input class="form-control" type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
          </div>
        </div>
      </div>

    <button type="submit" class="btn btn-primary sbtr"><i class="ni ni-lock-circle-open mr-2"></i> Alterar senha!</button>
</form>
-->