{%load static%}
{% if user.is_authenticated %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Igor Brown">
  <title>Summa - Declaração de conclusão de curso</title>
  <!-- Favicon -->
  <link rel="icon" href="{% static 'img/brand/favicon.png' %}" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{% static 'css/certificado.css' %}" type="text/css">
</head>

<body>
  <div>
    <div class="certificado_pagina">
        <div class="certificado_conteudo" style="background: url({{user.curso.campus.modelo_certificado.url}});">
            <div class="row end-xs">
                <div class="col-xs-10">
                    <div class="box">
                        <p class="padding_top_35 center" style="padding-top: 100px;">
                            <span class="font-40 negrito  quebra_linha serif">{{user.curso.campus.instituicao}}</span>
                        </p>
                        <p class="center altura_linhas_19">
                            <span class="font-17 quebra_linha">{{user.curso.campus.cidade}}, {{user.curso.campus.estado.estado}} – BRASIL</span>
                            <span class="font-17 quebra_linha">{{user.curso.nome}}</span>
                        </p>
                    </div>
                    <div class="box">
                        <p class="padding_top_35 margin_bottom_35 center">
                            <span class="font-31 negrito-2  quebra_linha" style="font-weight: bold;">CERTIFICADO DE CONCLUSÃO DE HORAS COMPLEMENTARES</span>
                        </p>
                        <div class="caixa_informacoes_aluno_cea serif">
                            <p>
                              <strong>Certificamos que de acordo com a legislação em vigor, o (a) aluno (a)</strong> <br>
                              <strong>{{user.first_name}} {{user.last_name}},</strong> MATRICULA Nº {{user.matricula}}, concluiu todas as {{qtd_min_horas}} horas necessárias para a conclusão do curso <strong>{{user.curso.nome}} na {{user.curso.campus.instituicao}}.</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row end-xs">
                <div class="col-xs-10">
                    <div class="box">
                        <div class="caixa_informacoes_aluno_cea">
                            <p class="esquerda data_entrega_cea">
                                {{user.curso.campus.cidade}} - {{user.curso.campus.estado.uf}}, {% now "j \d\e F \d\e Y" %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row end-xs">
                <div class="col-xs-10">
                    <div class="box">
                        <div class="assinatura_cea serif">
                            <p class="negrito center">____________________________</p>
                            <p class="negrito center">Concluinte</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row end-xs">
                <div class="col-xs-5">
                    <div class="box">
                        <div class="assinatura_cea serif">
                            <p class="negrito center">____________________________</p>
                            <p class="negrito center">Diretor(a)</p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="hash">hash: {{user.external_id}}</p>
        </div>
    </div>
</div>
</body>

</html>

{% endif %}
