{%load static%}
{% if user.is_authenticated %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Igor Brown">
  <title>Summa - Dashboard</title>
  <!-- Favicon -->
  <link rel="icon" href="{% static 'img/brand/favicon.png' %}" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'vendor/nucleo/css/nucleo.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{% static 'css/argon.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}" type="text/css">
</head>

<body>
  <!-- menu -->
  {% include 'partials/menu.html' %}
  <!-- end menu -->
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- start navbar -->
    {% include 'partials/navbar.html' %}
    <!-- end navbar -->

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7 d-flex">
              <h6 class="h2 text-white d-inline-block mb-0">Início</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="{% url 'enviar-certificado' %}" class="btn btn-sm btn-neutral">+ Submeter atividade complementar</a>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-3">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total de horas integralizadas</h5>
                      <span class="h2 font-weight-bold mb-0 count">{{total_horas_integralizadas}}</span><span class="ml-1">/{{qtd_min_horas}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-success text-white rounded-circle shadow">
                        <i class="ni ni-paper-diploma"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap"><a href="{% url 'meus-envios' %}">Ver todas</a></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-3">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Atividades submetidas</h5>
                      <span class="h2 font-weight-bold mb-0 count">{{total_atividades_submetidas}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap"><a href="{% url 'meus-envios' %}">Ver todas</a></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-3">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Aguardando validação</h5>
                      <span class="h2 font-weight-bold mb-0 count">{{total_atividades_aguardando_aprovacao}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-time-alarm"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap"><a href="{% url 'meus-envios' %}">Ver todas</a></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-3">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Atividades recusadas</h5>
                      <span class="h2 font-weight-bold mb-0 count">{{total_atividades_recusadas}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-danger text-white rounded-circle shadow">
                        <i class="ni ni-archive-2"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap"><a href="{% url 'meus-envios' %}">Ver todas</a></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Visão geral</h6>
                  <h5 class="h3 text-white mb-0">Total de horas integralizadas</h5>
                  <div>
                  </div>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0">
                      <select class="year-select">
                        <option value="2021">2021</option>
                      </select>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Mês a mês</h6>
                  <h5 class="h3 mb-0">Histórico de envios</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-bars" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Últimos envios</h3>
                </div>
                <div class="col text-right">
                  <a href="{% url 'meus-envios' %}" class="btn btn-sm btn-primary">Ver todas</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col" class="text-center">Carga horária<br />Informada</th>
                    <th scope="col" class="text-center">Carga horária<br />Integralizada</th>
                    <th scope="col" class="text-center">Data envio</th>
                    <th scope="col" class="text-center">Status</th>
                  </tr>
                </thead>
                <tbody>
                {% for atividade in list_atividades_complementares %}
                  <tr>
                    <th scope="row">
                      <a href="#" data-toggle="modal" data-target="#exampleModal-{{forloop.counter}}">{{atividade.descricao|truncatechars_html:40}}</a>
                    </th>
                    <td class="text-center">
                      {{atividade.carga_horaria_informada}}
                    </td>

                    <td class="text-center" style="font-weight: bold;">
                      {% if atividade.status == 'aprovado' %}
                        {{atividade.carga_horaria_integralizada}}
                      {% endif %}

                      {% if atividade.status == 'recusado' %}
                        0
                      {% endif %}

                      {% if atividade.status == 'em_validação' %}
                        -
                      {% endif %}
                    </td>

                    <td class="text-center">
                      {{atividade.create_at|date:"d M, Y"}}
                    </td>

                    <td class="text-center">
                      {% if atividade.status == 'aprovado' %}
                        <span class="status-aproved" data-toggle="modal" data-target="#exampleModal-{{forloop.counter}}">aprovado</span>
                      {% endif %}

                      {% if atividade.status == 'recusado' %}
                        <span class="status-declined" data-toggle="modal" data-target="#exampleModal-{{forloop.counter}}">recusado</span>
                      {% endif %}

                      {% if atividade.status == 'em_validação' %}
                        <span class="status-pending" data-toggle="modal" data-target="#exampleModal-{{forloop.counter}}">em validação</span>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Categorias Integralizadas</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="{% url 'meus-envios' %}" class="btn btn-sm btn-primary">Ver todas</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Categoria</th>
                    <th scope="col">Qtd.</th>
                  </tr>
                </thead>
                <tbody>
                  {% for atividade in list_group_atividades_complementares %}
                  <tr>
                    <th scope="row">
                      {{atividade.categoria__macroatividades|truncatechars_html:35}}
                    </th>
                    <td>
                      {{atividade.count}}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      {% include 'partials/footer.html' %}
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
  <script src="{% static 'vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
  <!-- Optional JS -->
  <script src="{% static 'vendor/chart.js/dist/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/dist/Chart.extension.js' %}"></script>
  <!-- Argon JS -->
  <script src="{% static 'js/argon.js' %}"></script>

  <script>
    $('.count').each(function () {
      $(this).prop('Counter',0).animate({
          Counter: $(this).text()
      }, {
          duration: 4000,
          easing: 'swing',
          step: function (now) {
              $(this).text(Math.ceil(now));
          }
      });
    });
  </script>

  <script>

var SalesChart = (function() {

// Variables
var $chart = $('#chart-sales-dark');


// Methods
function init($chart) {

  var salesChart = new Chart($chart, {
      type: 'line',
      options: {
        scales: {
          yAxes: [{
            gridLines: {
              lineWidth: 1,
              color: '#2f487180',
              zeroLineColor: '#2f487180',
            },
            ticks: {
              callback: function(value) {
                return value;
              },
              min: 0,
              stepSize: 10,
              display: true,
            }
          }]
        },
        tooltips: {
          callbacks: {
            label: function(item, data) {
              var label = [data.datasets[item.datasetIndex].label || ''];
              var yLabel = item.yLabel;
              var content = '';

              content += `Total de horas: ${yLabel}`;
              return content;
            }
          }
        }
      },
      data: {
        labels: [{%for label in data_graph_hours%}'{{label.date|date:'M'}}',{% endfor %}],
        datasets: [{
          label: 'Envios',
          data: [{%for label in data_graph_hours%}'{{label.total}}',{% endfor %}]
        }]
      }
    });

    // Save to jQuery object

    $chart.data('chart', salesChart);

  };


  // Events

  if ($chart.length) {
    init($chart);
  }

  })();
</script>

<script>

  var BarsChart = (function() {

    //Gráfico Histórico de envios
	var $chart = $('#chart-bars');

	function initChart($chart) {

		var ordersChart = new Chart($chart, {
			type: 'bar',
			options: {
              scales: {
                yAxes: [{
                  gridLines: {
                    lineWidth: 1,
                    color: '#b4bac890',
                    zeroLineColor: '#b4bac890',
                  },
                  ticks: {
                    callback: function(value) {
                      return value;
                    },
                    min: 0,
                    stepSize: 1,
                    display: true,
                  }
                }]
              },
              tooltips: {
                callbacks: {
                  label: function(item, data) {
                    var label = [data.datasets[item.datasetIndex].label || ''];
                    var yLabel = item.yLabel;
                    var content = '';

                    content += `Total de envios: ${yLabel}`;
                    return content;
                  }
                }
              }
            },
			data: {
				labels: [{%for label in data_graph_months%}'{{label.date|date:'M'}}',{% endfor %}],
				datasets: [{
					label: `Qtd. envios`,
					data: [{%for label in data_graph_months%}'{{label.total}}',{% endfor %}]
				}]
			},
		});

		$chart.data('chart', ordersChart);
	}

	if ($chart.length) {
		initChart($chart);
	}

})();

</script>
  

  <!-- modal mais detalhes -->
  {% for atividade in list_atividades_complementares %}
    {% include 'components/modal-more-details.html' %}
  {% endfor %}
  <!-- end modal mais detalhes -->

</body>

</html>

{% endif %}
