{%load static%}
{% if user.is_authenticated %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Igor Brown">
  <title>Summa - Meus envios</title>
  <!-- Favicon -->
  <link rel="icon" href="{% static 'img/brand/favicon.png' %}" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'vendor/nucleo/css/nucleo.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{% static 'css/argon.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}" type="text/css">
</head>
<body>
  <!-- menu -->
  {% include 'partials/menu.html' %}
  <!-- end menu -->

  <!-- Main content -->
  <div class="main-content" id="panel">

    <!-- start navbar -->
    {% include 'partials/navbar.html' %}
    <!-- end navbar -->

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Meus envios</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Meus envios</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="{% url 'enviar-certificado' %}" class="btn btn-sm btn-neutral">+ Submeter atividade complementar</a>
            </div>
          </div>
          {% for m in messages %}
              <div class="pulse alert alert-{{ m.extra_tags }}">
                  <strong>{{ m }}</strong>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Atividades Complementares</h3>
            </div>

            <!-- start LOADER -->
            {% include 'components/loader.html' %}
            <!-- end LOADER -->

            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="id">id</th>
                    <th scope="col" class="sort" data-sort="Descrição">Descrição</th>
                    <th scope="col" class="sort text-center" data-sort="Carga Horária Informada">Carga Horária<br /> Informada</th>
                    <th scope="col" class="sort text-center" data-sort="Carga Horária Integralizada">Carga Horária<br /> Integralizada</th>
                    <th scope="col" class="sort" data-sort="Data Envio">Data Envio</th>
                    <th scope="col" class="sort" data-sort="status">Status</th>
                    <th scope="col" class="text-center">Ações</th>
                  </tr>
                </thead>
                <tbody class="list">

                  {% for atividade in page_obj %}
                  <tr>
                    <th>
                      #{{atividade.id}}
                    </th>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="{{atividade.certificado.url}}" target="_blank" class="avatar rounded-circle ddd mr-3">
                          {% if atividade.certificado.url|slice:"-3:" == 'pdf' %}
                          <div class="circle-no-avatar">{{atividade.descricao|make_list|first}}</div>
                          {% else %}
                          <div class="imggg" src="" alt="{{atividade.descricao}}" style="background: url({{atividade.certificado.url}});"></div>
                          {% endif %}
                        </a>
                        <div class="media-body">
                          <span class="name mb-0 text-sm clickk" data-toggle="modal" data-target="#exampleModal-{{forloop.counter}}">{{atividade.descricao|truncatechars_html:40}}</span>
                        </div>
                      </div>
                    </th>
                    <td class="budget text-center">
                      {{atividade.carga_horaria_informada}}
                    </td>
                    <td class="text-center" style="font-weight: bold;">
                      {% if atividade.status == 'aprovado' %}
                        {{atividade.carga_horaria_integralizada}}
                      {% endif %}

                      {% if atividade.status == 'recusado' %}
                        0
                      {% endif %}

                      {% if atividade.status == 'em_validação' %}
                        -
                      {% endif %}
                    </td>
                    <td>
                      {{atividade.create_at|date:"d M, Y"}}
                    </td>
                    <td>
                      {% if atividade.status == 'aprovado' %}
                        <span class="status-aproved" data-toggle="modal" data-target="#exampleModal-{{forloop.counter}}">aprovado</span>
                      {% endif %}

                      {% if atividade.status == 'recusado' %}
                        <span class="status-declined" data-toggle="modal" data-target="#exampleModal-{{forloop.counter}}">recusado</span>
                      {% endif %}

                      {% if atividade.status == 'em_validação' %}
                        <span class="status-pending" data-toggle="modal" data-target="#exampleModal-{{forloop.counter}}">em validação</span>
                      {% endif %}
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-info" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="{{atividade.certificado.url}}" target="_blank"> <i class="ni ni-image mr-1"></i> Visualizar certificado</a>
                          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal-{{forloop.counter}}"><i class="ni ni-fat-add mr-1"></i> Ver mais detalhes</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <!-- Card footer -->
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <!-- paginacao -->
                  {% include 'components/paginacao.html' %}
                  <!-- end paginacao -->
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Footer -->
      {% include 'partials/footer.html' %}
    </div>
  </div>

  <!-- modal mais detalhes -->
  {% for atividade in list_atividades_complementares %}
    {% include 'components/modal-more-details.html' %}
  {% endfor %}
  <!-- end modal mais detalhes -->

  <!-- Scripts -->
    <!-- Core -->
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
    <!-- Optional JS -->
    <script src="{% static 'vendor/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/dist/Chart.extension.js' %}"></script>
    <!-- Argon JS -->
    <script src="{% static 'js/argon.js' %}"></script>
  
    <script>
      $('.count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 4000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
      });
    </script>
  
  </html>
  
  {% endif %}