{%load static%}
{% if user.is_authenticated %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Igor Brown">
  <title>Summa - Perfil</title>
  <!-- Favicon -->
  <link rel="icon" href="{% static 'brand/favicon.png' %}" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'vendor/nucleo/css/nucleo.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{% static 'css/argon.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}" type="text/css">
</head>
<body>
  <!-- menu -->
  {% include 'partials/menu.html' %}
  <!-- end menu -->

  <!-- Main content -->
  <div class="main-content" id="panel">

    <!-- start navbar -->
    {% include 'partials/navbar.html' %}
    <!-- end navbar -->

    <div class="header pb-6 d-flex align-items-center" style="min-height: 450px;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Olá, {{user.first_name}}</h1>
            <p class="text-white mt-0 mb-5">Você está no <strong>Summa</strong>. Software desenvolvido para o gerenciamento das atividades complementares dos alunos da <strong>{{user.curso.campus.instituicao}}.</strong></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-4 order-xl-2">
          <div class="card card-profile" style="overflow: hidden;">
            {% if user.foto %}
            <img style="background: url({{user.foto.url}})" src="" class="card-img-top bg-perfil">
            {%else%}
            <img style="background: url({% static 'img/square.png' %}); filter: none !important;" src="" class="card-img-top bg-perfil">
            {% endif %}
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    {% if user.foto %}
                    <img src="{{user.foto.url}}" class="rounded-circle">
                    {% else %}
                    <span class="avatar avatar-sm rounded-circle user-p">{{user.first_name|make_list|first}}</span>
                    {% endif %}
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">

            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h5 class="h3 mb-0">{{user.get_full_name}}</h5>
                <div class="h5 font-weight-300 mt-0">
                  <i class="ni location_pin"></i>{{user.email}}
                </div>
                {{user.matricula}}
                <div>
                  <i class="mt-5 ni education_hat"></i>{{user.curso.campus.instituicao}}
                </div>
                <div class="h5 mt-0">
                  <i class="ni business_briefcase-24"></i>{{user.curso}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          {% if messages %}
              {% for m in messages %}
                  <div class="pulse alert alert-{{ m.extra_tags }}" style="margin-bottom: 3rem;">
                      <strong>{{ m }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-12">
                  <h3 class="mb-0">Editar perfil </h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              {% include 'forms/form-edit-profile.html' %}
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      {% include 'partials/footer.html' %}
    </div>
  </div>
  <!-- Argon Scripts -->
    <!-- Core -->
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
    <!-- Optional JS -->
    <script src="{% static 'vendor/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/dist/Chart.extension.js' %}"></script>
    <!-- Argon JS -->
    <script src="{% static 'js/argon.js' %}"></script>
  
    <script>
      $('.count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 4000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
      });
    </script>
  
  </html>
  
  {% endif %}